{
    "semi": false,
    "singleQuote": true,
    "trailingComma": "all",
    "arrowParens": "always",
    "singleAttributePerLine": true,
    "printWidth": 80,
    "endOfLine": "lf",
    "tabWidth": 4,
    "plugins": [
        "prettier-plugin-tailwindcss"
    ]
}